<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.t1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".InitialActivity"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity1"
            android:label="Activity1" >
            <intent-filter>
                <action android:name="com.example.t1.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity2"
            android:label="Activity2" />
        <activity
            android:name=".Activity3"
            android:label="Activity3" />
        <activity
            android:name=".Activity4"
            android:label="Activity4" />
        <activity
            android:name=".Activity5"
            android:label="Activity5" />
        <activity
            android:name=".DialogActivity"
            android:theme="@android:style/Theme.Dialog" />
    </application>

</manifest>